<div class="border-form-div">
  <h3>Редактировать</h3>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email, 'Эл. почта' %>
    <%= f.email_field :email, :autofocus => true %></div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>В настоящее время ожидается подтверждение: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div><%= f.label :username, 'Никнэйм' %>
    <%= f.text_field :username %></div>  

    <div><%= f.label :password, 'Новый пароль' %>
    <small><i>(оставьте пустым, если не хотите изменять его)</i></small>
    <%= f.password_field :password, :autocomplete => "off" %></div>

    <div><%= f.label :password_confirmation, 'Подтверждение нового пароля' %>
    <%= f.password_field :password_confirmation %></div>

    <div><%= f.label :current_password, 'Текущий пароль' %>
    <small><i>(введите Ваш пароль для сохранения изменений)</i></small>
    <%= f.password_field :current_password %></div>

    <%= f.submit "Сохранить", class: 'btn btn-primary' %>
  <% end %>

  <br />
  <h3>Удалить мой аккаунт</h3>

  <p>Недовольны?</p>
  <p><%= link_to "Удалить мой аккаунт", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete, class: 'btn btn-danger' %></p>

  <br /><br />
  <%= link_to "Назад", :back %>
</div>
