<h3>Редактировать элемент:</h3>

<%= form_for :element, url: {action: :update, id: @element.id}, method: :put do |f| %>
  <div>
    <%= f.label :name, 'Наименование' %>
    <%= f.text_field :name, autofocus: true %>
  </div><br />

  <div>
    <%= f.label :image, 'Изображение' %>
    <%= image_tag @element.image %><br />
    <small>Изменить изображение нельзя!</small>
  </div><br />

  <div>
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
  </div>
<% end %><br />

<div><%= link_to 'На главную', root_path %></div>
