<h3>Создать элемент:</h3>

<%= form_for :element, url: { action: :create } do |f| %>
  <div>
    <%= f.label :name, 'Наименование' %>
    <%= f.text_field :name, autofocus: true %>
  </div><br />

  <div>
    <%= f.label :image, 'Изображение' %>
    <%= f.file_field :image %>
  </div><br /><br />

  <div>
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
  </div>
<% end %><br />

<div><%= link_to 'На главную', root_path %></div>
