<h3>Редактировать категорию:</h3>

<%= form_for :category, url: {action: :update, id: @category.id},
  method: :put do |f| %>

  <div>
    <%= f.label :name, 'Наименование' %>
    <%= f.text_field :name, autofocus: true %>
  </div><br />

  <div>
    <%= f.label :image, 'Изображение' %>
    <%= image_tag @category.image %><br />
    <small>Изменить изображение нельзя!</small>
  </div><br /><br />

  <div>
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
  </div>
<% end %><br />

<div><%= link_to 'На главную', root_path %></div>
