<h3>Редактировать категорию:</h3>
<%= form_for :category, url: {action: :update, id: @category.id}, method: :put do |f| %>
  <p>
    Наименование:<br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= image_tag @category.image %><br />
    <small>Изменить изображение нельзя!</small>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %><br />

<p><%= link_to 'На главную', root_path %></p>
