<h1>Создать новую категорию:</h1>
<%= form_for :category, url: { action: :create } do |f| %>
  <p>Наименование:<br />
  <%= f.text_field :name %></p>
  <p><%= f.submit "Сохранить" %></p>
<% end %>
<br />
<p><%= link_to 'К списку категорий', root_path %></p>

<p><%= debug params %></p>