<h3>Создать новую категорию:</h3>
<%= form_for :category, url: { action: :create } do |f| %>
  <p>
    Наименование:<br />
    <%= f.text_field :name %>
  </p>
  <p>
    Изображение:<br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>
  </p>
<% end %><br />

<p><%= link_to 'На главную', root_path %></p>
