<h3>
  Выбранная категория: <%= @category.name.capitalize %><br />
  <%= image_tag @category.image %>
</h3>

<p>
  <%= render 'element_for_divination', e: @left %>
</p>
<p>
  <%= render 'element_for_divination', e: @right %>
</p><br />

<% if can? :manage, Element %>
  <p>
    <%= link_to 'Управление элементами',
      category_elements_path(category_id: @category.id) %>
    <br /><br />
    <%= link_to 'Создать элемент',
      new_category_element_path(category_id: @category.id) %>
  </p>
<% end %>

<p><%= link_to 'На главную', root_path %></p>
